{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
    <!--  <span type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span> -->
    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    </div>
    
{% endfor %}
{% if name %}
    <h2>User {{ name }} added </h2>
    <br/>
    <br/>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        {% for user in list_users %}
        <tr>
            <td>
                {{ user.id }}. <a href="{{ url_for('update_user',id=user.id)}}"> {{ user.name }} </a>  - {{ user.email }}
                 - {{ user.favorite_color }} - <a href="{{ url_for('delete_user',id=user.id)}}">Delete</a>
            </td>
        </tr>
        
    {% endfor %}
    </table>
   
{% else %}
    <h2> Register User </h2>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form action="{{ url_for('add_user') }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}

            {{ form.password_hash.label(class="form-label") }}
            {{ form.password_hash(class="form-control") }}

            {{ form.password_hash2.label(class="form-label") }}
            {{ form.password_hash2(class="form-control") }}
            <br/>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    
    <br/>
    <br/>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        {% for user in list_users %}
        <tr>
            <td>
                {{ user.id }}. <a href="{{ url_for('update_user',id=user.id)}}"> {{ user.name }} </a> -  {{ user.username }}
                - {{ user.email }} - <a href="{{ url_for('delete_user',id=user.id)}}">Delete</a>
            </td>
        </tr>
        
    {% endfor %}
    </table>
    
{% endif %}

{% endblock %}