{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
    <!--  <span type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span> -->
    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    </div>
    
{% endfor %}
{% if id==current_user.id %}

    <h3> Update User details </h3>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form action="/update/{{ name_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control",value=name_to_update.name) }}
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control",value=name_to_update.email) }}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control",value=name_to_update.username) }}
            {{ form.about_author.label(class="form-label") }}
            {{ form.about_author(class="form-control",value=name_to_update.about_author) }}
            <br/>
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('delete_user',id=id)}}" class="btn btn-danger">Delete</a>
        </form>
        
    </div>
    
    <br/>
    <br/>
{% else %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Sorry you are not allowed to edit this user's details
    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    </div>
    <h2> Access denied </h2>
    <h5>You dont have the right permissions for this task</h5>
{% endif %}    
    
{% endblock %}